@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important ;
  }
}
a {
  text-decoration: none;
}
body {
  max-width: 750px;
  width: 10rem;
  margin: auto;
}
body .app .header-wrap {
  width: 100%;
  height: 2.4rem;
  background-color: #FFDB47;
}
body .app .header-wrap .header-top {
  width: 100%;
  height: 1.17333333rem;
  display: flex;
  justify-content: center;
}
body .app .header-wrap .header-top .header-top-content {
  width: 9.09333333rem;
  height: 1.17333333rem;
  display: flex;
}
body .app .header-wrap .header-top .header-top-content .left {
  width: 0.48rem;
  height: 100%;
  display: flex;
  align-items: center;
}
body .app .header-wrap .header-top .header-top-content .left a {
  display: block;
  height: 0.8rem;
  width: 100%;
}
body .app .header-wrap .header-top .header-top-content .left a img {
  width: 100%;
  height: 100%;
}
body .app .header-wrap .header-top .header-top-content .middle {
  flex: 1;
  height: 1.17333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .app .header-wrap .header-top .header-top-content .middle a {
  display: block;
  width: 5.2rem;
  height: 1.01333333rem;
}
body .app .header-wrap .header-top .header-top-content .middle a img {
  width: 100%;
  height: 100%;
}
body .app .header-wrap .header-top .header-top-content .right {
  width: 0.48rem;
  height: 100%;
  display: flex;
  align-items: center;
}
body .app .header-wrap .header-top .header-top-content .right a {
  display: block;
  height: 0.8rem;
  width: 100%;
}
body .app .header-wrap .header-top .header-top-content .right a img {
  width: 100%;
  height: 100%;
}
body .app .header-wrap .header-search {
  width: 100%;
  height: 1.22666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .app .header-wrap .header-search .search-content {
  width: 9.36rem;
  height: 0.8rem;
}
body .app .header-wrap .header-search .search-content a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.8rem;
  overflow: hidden;
  font-size: 0.32rem;
}
body .app .header-wrap .header-search .search-content a .icon {
  width: 0.48rem;
  height: 0.48rem;
  margin: 0.16rem 0.4rem;
}
body .app .header-wrap .header-search .search-content a .icon img {
  width: 100%;
  height: 100%;
}
body .app .header-wrap .header-search .search-content a span {
  line-height: 0.8rem;
}
body .app .banner {
  width: 100%;
  height: 3.05333333rem;
  background: url('https://image3.suning.cn/uimg/cms/img/160942141893352387.png') no-repeat;
  background-size: 100% 2.66666667rem;
  display: flex;
  justify-content: center;
}
body .app .banner .swiper-wrap {
  width: 9.36rem;
  height: 3.05333333rem;
  position: relative;
  overflow: hidden;
}
body .app .banner .swiper-wrap img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .app .category {
  margin-top: 10px;
  width: 100%;
  height: 4.10666667rem;
  display: flex;
  flex-wrap: wrap;
}
body .app .category .category-item {
  width: 20%;
  height: 1.89333333rem;
}
body .app .category .category-item .img {
  width: 1.12rem;
  height: 1.12ren;
  margin: auto;
}
body .app .category .category-item .img img {
  width: 100%;
  height: 100%;
}
body .app .category .category-item .title {
  font-size: 0.32rem;
  color: #666;
  text-align: center;
}
